<%- include('partials/aboveContent.ejs'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        DataBase Manager
        <p class="fa fa-fw fa-tripadvisor"></p> 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="register-box-body" style = "border: 1px solid #d2d6dd;   border-top: 4px solid #337ab7; border-radius: 5px; width: 100%;height: 100%; margin-left: auto; margin-right: auto">
                    <img style = "width: 40px; height: 40px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUlS3r3C7UKPP2LImNGvZ9m-9dYfAArE2Oai4CVnjddTU5o_fR" alt="">
                    <h3 class="login-box-msg">Update member info</h3>
                
                    <form action= "/admin/manager/user/update" method = "post">
                      <b>User Name</b>
                      <div class="form-group has-feedback">
                        <input type="text" class="form-control"  id = "idUsername" name = "username" value ="<%=user.username%>">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                      </div>
                      <b>Password</b>
                      <div class="form-group has-feedback">
                        <input type="text" class="form-control"  id = "idPassword" name = "password" value ="<%=user.password%>">
                        <span class="fa fa-lock form-control-feedback"></span>
                      </div>
                      <b>Email</b>
                      <div class="form-group has-feedback">
                        <input type="email" class="form-control"  id = "idEmail" name = "email" value ="<%=user.email%>">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                         
                        </div>
                        <!-- /.col -->
                        <div class = "col-xs-3"></div>
                        <div class="col-xs-6">
                          <button  type="submit" class="btn btn-primary btn-md btn-block ">Submit</button>
                        </div>
                        <div class = "col-xs-3"></div>
                       
                        <!-- /.col -->
                      </div>
                    </form>
                  </div>
                
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <%- include('partials/underContent.ejs'); %>